@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Nunito&family=Roboto&display=swap');

:root {
  --fs-800: 3rem;
  --fs-600: 1.5rem;
  --fs-500: 1.2rem;
  --fs-400: 1.1rem;
  --fs-200: 0.7rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', 'Roboto', sans-serif;
  height: 100vh;
  background-image: url('../assets/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-weight: bold;
  padding: 1em;
  overflow: hidden;
}

.temp-toggle {
  display: flex;
  gap: 0.5rem;
}

input[name='temp-in'] {
  appearance: none;
}

.temp-toggle label {
  height: 2em;
  width: 5em;
  background: rgb(27, 23, 23);
  color: darkgoldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-500);
  border-radius: 30%;
  cursor: pointer;
}

input[name='temp-in']:checked + label {
  border: 2px solid darkgoldenrod;
}
.search-weather-section {
  float: right;
}

.search-weather-section div {
  float: right;
  border-bottom: 3px solid white;
  padding: 0.2em;
}
.error {
  margin-top: 3rem;
}
.search-weather-input {
  appearance: none;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  font-size: var(--fs-400);
  width: 180px;
  font-weight: 600;
}

.search-weather-input::placeholder {
  font-weight: 600;
  color: white;
}

.search-weather-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.search-weather-button img {
  height: 1.5em;
}

.search-weather-button:active {
  scale: 1.1;
}

.icon img {
  filter: grayscale(100%) brightness(500%);
}

.city-name {
  font-size: var(--fs-600);
}
.date-time {
  font-size: var(--fs-200);
}

main {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.weather-secondary {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
}
.property {
  color: rgb(196, 195, 195);
}
.value {
  font-size: var(--fs-500);
}
.weather-main {
  display: flex;
  flex-direction: column;
}
.weather-details div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.weather-details {
  display: flex;
  gap: 10vw;
  font-size: var(--fs-400);
}

.temperature-main {
  display: flex;
  align-items: center;
}

.temperature-main .temperature {
  font-size: var(--fs-800);
}

.loading-img {
  display: none;
  position: absolute;
  right: 47%;
  top: 30%;
}

@media (max-width: 950px) {
  :root {
    --fs-800: 2.5rem;
    --fs-600: 1.2rem;
    --fs-500: 0.8rem;
    --fs-400: 0.9rem;
    --fs-200: 0.5rem;
  }
}

@media (max-width: 550px) {
  :root {
    --fs-800: 2.1rem;
    --fs-600: 0.9rem;
    --fs-500: 0.6rem;
    --fs-400: 0.7rem;
    --fs-200: 0.4rem;
  }
  .search-weather-input {
    width: 140px;
  }
  .search-weather-button img {
    height: 1em;
  }
  .temp-toggle label {
    height: 1.5rem;
    width: 4rem;
  }
}

@media (max-width: 450px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .weather-details {
    flex-direction: column;
    gap: 5rem;
  }
  .weather-details div {
    align-self: center;
  }
  header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  .search-weather-section,
  .search-weather-section div {
    float: none;
  }
  .search-weather-section {
    align-self: center;
  }
  .error {
    position: absolute;
    right: 47%;
    top: 30%;
  }
}

@media (max-height: 580px) {
  .weather-secondary {
    gap: 0.2rem;
  }
}
